@font-face {
	font-family: urania_czech;
	src: url('http://www.nocnabasen.sk/template/urania_czech_1-4.ttf') format("truetype");
}

body {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin: 30px 30px 20px 30px;
	color: #000;
}

img {
	border: none;
}

h1 {
	font-weight: bold;
	font-size: 20px;
	padding: 0;
	margin-bottom: 10px;
}

#fb {
	position: absolute;
	top: 15px;
	right: 0px;
}
#fb-login {
	position: absolute;
	top: 0;
	right: 100px;
	width: 130px;
	text-align: right;
	padding-right: 1px;
}

#pridaj {
	width: 285px;
	float: left;
	margin: 14px 15px 5px 0;
	position: relative;
}

#counter {
	position: absolute;
	top: 4px;
	right: 2px;
	font-size: 11px;
	color: #555;
}

.pridat, #topic, .category, #comment, #foto-file {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin: 0;
	padding: 2px;
}

.input {
	border: 1px solid #ddd;
}

#topic, #comment, .comment {
	width: 276px;
	margin-bottom: 2px;
}
#topic, #comment {
	height: 100px;
}

.pridat, .category {
	width: 140px;
}

.category {
	margin-right: 2px;
}

.blog-list .item {
	width: 285px;
	float: left;
	padding: 5px;
	margin: 0 5px 5px 0;
	word-wrap: break-word;
	position: relative;
	background-color: #f8f8f8;
}
h2 {
	font-size: 15px;
	margin: 0 0 6px 0;
}
.blog-list .item a {
	color: inherit;
}
.item-foot {
	color: #555;
	padding-top: 8px;
	font-size: 10px;
}
.item-foot a {
	color: #555;
}
.item-foot .fb {
	height: 21px;
}
.item-foot .fb span {
	position: relative;
	top: 5px;
	float: right;
}

.author, .comment-author {
	text-align: right;
	font-size: 10px;
}
.author a, .comment-author a {
	text-decoration: none;
	color: #555;
}
.comment-author {
	float: right;
}

.alert {
	border: 1px solid red;
}

label {
	color: black;
}
label.alert {
	color: red;
	border: none;
}

#pridaj-comment {
	padding-top: 10px;
}

#comments {
	z-index: 9999;
	position: absolute;
	width: 310px;
	border: 1px solid #ddd;
	margin: 20px;
	padding: 5px;
	background-color: #fff;
}
#comments .topic {
	padding: 15px;
	word-wrap: break-word;
}
#comments .content {
	padding: 15px;
}
#comments .comment {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
#comments .close, #photo_big .photo_close {
	text-align: right;
	font-size: 10px;
	color: #555;
}
#comments .close a, #photo_big .photo_close a {
	color: #555;
}
#comments .fb {
	float: left;
	margin: 2px 0 0 2px;
}
#comments .separator {
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.form-input {
	height: 111px;
}
.form-input span {
	padding-top: 5px;
	font-size: 10px;
	color: #555;
	display: block;
}
.form-input label {
	font-size: 11px;
}

#pridaj-form {
	position: relative;
	height: 140px;
}
#pridaj-text, #pridaj-foto {
	position: absolute;
	top: 0;
	left: 0;
}

a.comment {
	text-decoration: none;
}

#type {
	border-bottom: 1px solid #DDD;
	margin: 0 0 4px 0;
	padding: 0;
	width: 282px;
}
#type li {
	display: inline-block;
	padding: 2px 5px;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	margin-right: 1px;
}
#type li.active {
	background-color: #ddd;
}
#type a {
	font-size: 11px;
	color: #000;
	text-decoration: none;
}

#photo_big {
	z-index: 9999;
	position: absolute;
	width: 850px;
	border: 1px solid #ddd;
	margin: 20px;
	padding: 5px;
	background-color: #fff;
}
#photo_big .content {
	text-align: center;
}

#head {
	position: relative;
	margin-bottom: 5px;
}
#category-filter {
	font-size: 11px;
	position: absolute;
	top: 10px;
	left: 305px;
}
#category-filter a {
	color: #555;
	text-decoration: none;
	padding: 2px 4px;
}
#category-filter a.active {
	background-color: #ddd;
}
#descr {
	position: absolute;
	top: 20px;
	font-size: 11px;
	color: #555;
}

#foot {
	padding-top: 20px;
	clear: both;
	text-align: center;
	font-size: 10px;
	color: #555;
}
#foot a {
	color: #555;
	text-decoration: none;
	padding: 2px 4px;
}

ul {
	margin: 0;
	padding: 0 0 0 20px;
	font-size: 12px;
}

.add_essay_photo {
	float: right;
	text-decoration: none;
}
.photo_essay {
	position: absolute;
	right: 5px;
	font-size: 11px;
	top: 3px;
}

.manifest {
	padding-top: 12px;
	color: #555;
}
.right {
	text-align: right;
}
.manifest a {
	color: #555;
}