{% load template_seo_helper %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	{% include "head.html" %}
	<title>Nočná báseň / Denných 200{% if comments %} - {{ topic.id }} / {{ topic.category }{% endif %}</title>
	<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}blog.css" />
	<meta name="description" content="{% if comments %}{{ topic.topic|slice:":48" }}{% else %}Nočná báseň / Denných 200{% endif %}" />
	<meta property="fb:admins" content="1293033985" />
	
	{% if comments and topic %}
		<meta property="og:title" content="Nočná báseň / Denných 200 - {{ topic.id }} / {{ topic.category }}" /> 
		<meta property="og:type" content="website" />
		{% if topic.type == 'foto' %}<meta property="og:image" content="/foto/{{ topic.id }}.jpg" />{% endif %}
		<meta property="og:url" content="/{{ topic.id }}/{{ topic.topic|slice:":48"|to_seo }}" /> 
		<meta property="og:site_name" content="www.nocnabasen.sk" /> 
	{% endif %}
	<script type="text/javascript">
		var site_root = '';
	</script>
</head>
<body>
	<div id="fb">
		<div id="fb-login"><fb:login-button autologoutlink="true"></fb:login-button></div>
		<g:plusone size="small"></g:plusone>
		<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.nocnabasen.sk&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=veranda&amp;colorscheme=light&amp;height=21&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	</div>
	
	<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '172215986160276', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_GB/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
	
	<div id="head">
		<h1>denných 200</h1>
		<div id="descr">
			5:00 - 22:00 - denný blog pre tých, čo majú čo povedať<br />
			22:00 - 5:00 - nočná anonymná báseň bez konca
		</div>
		<div id="category-filter">
		<a href="0" class="category-filter {% if active_category %}active{% endif %}" title="zobraz všetky príspevky">všetko</a>
		{% for item in categories %}
			<a href="{{ item.id }}" style="color:#{{ item.color }}" class="category-filter {% if active_category == item.id %}active{% endif %}" title="zobraz iba príspevky zo sekcie {{ item.category }}">{{ item.category }}</a>
		{% endfor %}
		</div><br />
	</div>
	
	<div class="blog-list">
		<div id="pridaj">
			<ul id="type">
				<li class="li-type active" id="li-text"><a href="text" class="type">text</a></li>
				<li class="li-type" id="li-foto"><a href="foto" class="type">foto</a></li>
			</ul>
			<div id="pridaj-form">
				<form action="?" method="post" id="pridaj-text">{% csrf_token %}
					<input type="hidden" name="topic_type" value="1" />
					<textarea class="input" id="topic" name="topic" type="text" value="" maxlength="200" /></textarea><br />
					<select class="input category" name="category">
						<option value="">kategória</option>
						{% for item in categories %}
							<option value="{{ item.id }}">{{ item.category }}</option>
						{% endfor %}
					</select>
					<input class="input pridat" type="submit" value="pridaj tému" /><br />
				</form>
				<form action="?" method="post" id="pridaj-foto" style="display: none;" enctype="multipart/form-data">{% csrf_token %}
					<div class="form-input">
						<input type="hidden" name="topic_type" value="2" />
						<input type="hidden" name="MAX_FILE_SIZE" value="5242880" />
						<input type="file" class="input" id="foto" name="foto" value="vyber fotografiu" /><br />
						<input type="checkbox" value="1" id="author" /> <label for="author" id="author-label">som autorom tejto fotografie</label><br />
						<span>
							Zvolená fotografia musí mať formát JPEG.<br />
							Maximálny rozmer 4000 x 4000px.<br />
							Maximálna velkosť 5MB.
						</span>
					</div>
					<select class="input category" name="category">
						<option value="">kategória</option>
						{% for item in categories %}
							<option value="{{ item.id }}">{{ item.category }}</option>
						{% endfor %}
					</select>
					<input class="input pridat" type="submit" value="pridaj fotografiu" /><br />
				</form>
			</div>
			<div id="counter"></div>
			<div class="manifest item">
				<strong>Nočná báseň</strong><br />
				Od 9.marca beží denná verzia Nočnej básne čiže „denných 200“. Urobili sme čo najviac vylepšení, o ktorých si myslíme, že dajú priestor a pohodlie pre slobodné vyjadrenie názorov, postrehov, myšlienok či pocitov cez text alebo fotky.<br /><br /> 
				My, autori tohto webu, máme pocit, že popri facebookoch, twitteroch a pokecoch je stále nevyplnený priestor pre ľudí, ktorí chcú a majú čo povedať. Neprinášame nič nové či prevratné, len máme chuť dať priestor ľuďom zmýšľajúcim podobne ako my.<br /><br />
				Ďakujeme vám všetkým za podporu a inšpirácie. Budeme radi, ak si aj naďalej kliknete na „nočnú báseň“ a ešte radšej, ak aj niečo pridáte. Úplne najlepšie bude, ak o tejto stránke poviete kamarátom, známym, rodine, starej mame… …hocikomu, komu by sa to mohlo páčiť.<br /><br />
				Ak máte nápad či nebodaj kritiku napíšte nám. Poteší nás to<br /><br />
				<a href="mailto:nocnabasen@nocnabasen.sk">nocnabasen@nocnabasen.sk</a><br /><br />
				<div class="right">
					autori
				</div>
			</div>
		</div>
		
		{% if topics %}
			{% for item in topics %}
				<div class="item" style="color:#{{ item.category.color }}">
					{% if item.photo_count %}
						<div class="photo_essay"><a href="/{{ item.id }}/" class="comment" style="color:#{{ item.category.color }}" title="zobraz foto story">foto story</a></div>
					{% endif %}
					<h2><a href="/{{ item.id }}/{{ item.topic|slice:":48"|to_seo }}" class="comment" style="color:#{{ item.category.color }}" title="zobraz komentáre">{{ item.id }} / {{ item.category.category }}</a></h2>
					{% if item.topic_type == 1 or item.topic_type == 'text' %}
						{{ item.topic|force_escape|to_nl|to_url|safe }}
					{% endif %}
					{% if item.topic_type == 2 or item.topic_type == 'foto' %}
						<a href="/foto/{{ item.id }}_b.jpg" class="foto" title="zobraz väčšiu fotku">
							<img src="/foto/{{ item.id }}.jpg" alt="{{ item.id }} / {{ item.category.category }}" title="zobraz väčšiu fotku" />
						</a>
					{% endif %}
					{% if item.user %}
						<div class="author">
							<a href="{% if not active_author %}{{ item.user.id }}{% endif %}" class="author-filter" style="color:#{{ item.category.color }}" title="{% if not active_author %}zruš filter{% else %}zobraz iba príspevky autora {{ item.user.name }}{% endif %}">{{ item.user.name }}</a>
							 (<a href="{{ item.user.link }}" style="color:#{{ item.category.color }}" target="_blank" title="pozri profil">?</a>)
						</div>
					{% endif %}
					<div class="item-foot">
						<div class="fb">
							<span>
								{{ item.inserted|date:"n. M Y H:i" }} / 
								<a href="/{{ item.id }}/{{ item.topic|slice:":48"|to_seo }}" class="comment" title="zobraz komentáre">
									{{ item.comment_count }} {% if item.comment_count > 4 or not item.comment_count %}
										reakcií
									{% else %}
										{% if item.comment_count > 1 %}
											reakcie
										{% else %}
											reakcia
										{% endif %}
									{% endif %}
								</a>
							</span>
							{% if forloop.counter0 <= 25 %}
								<iframe src="http://www.facebook.com/plugins/like.php?href=/{{ item.id }}/{{ item.topic|slice:":48"|to_seo }}&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=veranda&amp;colorscheme=light&amp;height=21&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px; position: absolute" allowTransparency="true"></iframe>
							{% endif %}
						</div>
						{% if fb_user and fb_user.is_admin %}
							<div><a class="delete delete_topic" href="/delete/topic/{{ item.id }}/" title="zmazať príspevok">zmazať príspevok</a></div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	
	<div id="foot">
		&copy; 2011 | 
		<a href="/page/pravidla" class="comment">pravidlá používania</a>
	</div>
	
	<div id="comments" style="display: none;"></div>	
	<div id="photo_big" style="display: none;">
		<div class="photo_close"><a href="#">zatvor</a></div>
		<div class="content">
		</div>
		<div class="photo_close"><a href="#">zatvor</a></div>
	</div>
	
	<script type="text/javascript">
		var input_form = '{{ input_form }}';
		
		var comments = "";
		{% if comments %}
			comments = '{{ comments|to_js }}';
		{% endif %}
	</script>
	
	{% include "stats.html"}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{lang: 'en-GB'}
	</script>
</body>
</html>